.avatar {
  background: rgb(85, 16, 197);
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $color-white;
  font-size: 1.1rem;
  // font-weight: 700;
  border-radius: 50%;
}