.btn {
  padding: 0.45rem 0.5rem;
  border: 1px solid $color-primary;
  background: $color-primary;
  color: $color-white;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: $transition-main;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;

  &:hover,
  &:focus {
    color: $color-primary;
    background: $color-white;
  }

  &__icon {
    position: absolute;
    left: 2.5rem;
  }
  &--secondary {
    background: $color-secondary;
    border-color: $color-secondary;
    // color: $color-primary;

    &:hover,
    &:focus {
      background: $color-white;
      color: $color-secondary;
      
    }
  }
}
