.chat {
  padding: 0 1rem;
  
  // display: flex;
  // flex-direction: column;
  height: calc(100vh - 2rem);
  
  overflow: auto;

  &__heading {
    text-align: right;
    color: $color-grey;
    font-size: 1rem;
    border-bottom: 1px solid $color-lightgrey;
    padding: .5rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: $color-white;
  }

  &__main {
    padding-top: .5rem;
    padding-bottom: 1rem;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
  }
}