.chat {
  padding: 0 0 0 1rem;
  position: relative;
  height: 100%;

  &__heading {
    position: absolute;
    text-align: right;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0.5rem;
    padding-right: 2rem;
    font-size: 1rem;
    z-index: 2;
    background: $color-background-light;
    border-bottom: 1px solid darken($color-background-light, 5%);
    color: $color-grey;
  }

  &__main {
    height: calc(100% - 2.55rem);
    overflow: auto;
    padding-right: 1rem;
  }

  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

  &__message-read {
    font-size: 0.6rem;
    color: grey;
    display: block;
    text-align: right;
    margin-top: -.5rem;
    margin-right: 1rem;
  }
}

.no-chat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-grey;
}