.chat-input {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  left: 2%;
  transition: $transition-main;
  
  &__msg {
    width: 83%;
    height: 2.5rem;
    padding: 0 1rem;
    text-align: right;
    border: none;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: 1px solid darken($color-background-light, 10%);
    border-right: none;
    &:focus {
      box-shadow: $box-shadow-light;
      border-color: darken($color-background-light, 20%);
    }
  }

  &__btn {
    width: 15%;
    height: 2.5rem;
    border: none;
    background: $color-white;
    color: $color-primary;
    cursor: pointer;
    border: 1px solid darken($color-background-light, 10%);

    @media screen and (min-width: 768px) {
    border-radius: 0 0 7px 0;
    }
  }
}
