.chat-list-item {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  transition: $transition-main;
  
  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
  }
  
  &__contact {
    font-weight: 700;
    font-size: .9rem;
    color: darken($color-grey, 5%);
  }
  &__msg-prev {
    width: 100%;
    color: lighten($color-grey, 25%);
    font-size: 0.7rem;
  }
  
  &--selected {
    background: #d3dde4;
  }
}