.message {
  background: rgb(255, 255, 255);
  color: black;
  padding: .7rem;
  width: 70%;
  max-width: 17rem;
  margin: .6rem 0;
  border-radius: 14px 14px 14px 0;
  font-size: .9rem;
  box-shadow: $box-shadow-light;
  animation: newMessage .2s ease-out;


  &--user {
    // background: $color-primary;
    
    background: #2a81eb;
  color: $color-white;
    margin-left: auto;
    border-radius: 14px 14px 0;
  }
}

@keyframes newMessage {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
  }
}