.sidebar {
  background: $color-background-light;
  position: fixed;
  height: 100%;
  width: 85vw;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .4s ease-out;
  z-index: 3;
  // overflow: hidden;
  box-shadow: 2px 0 2px rgba(0,0,0,0.05);
  
  &__logo {
    display: flex;
    // align-items: center;
    justify-content: center;
    // width: 40%;
    // margin: .5rem auto;
    padding: 1.5rem 0 0.1rem;
    // font-weight: 700;
    // font-size: 2rem;
    // color: $color-grey;
    // background: $color-white;
  }

  &__heading {
    // color: $color-white;
    // background: $color-white;
    text-align: center;
    // padding: 1rem 0;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: 2px solid $color-white;
  }

  &__toggler {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__buttons {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btn {
    margin-top: 0.5rem;
  }

  &--hidden {
    transform: translateX(-75vw);
    
  }

  @media screen and (min-width: 768px) {
    position: static;
    width: 30%;

    &--hidden {
    transform: initial;
  }
  }
}