.sidebar {
  background: $color-white;
  height: 100vh;
  position: fixed;
  width: 85vw;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .4s ease-out;
  z-index: 3;
  

  &__heading {
    background: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 2rem 0;
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__toggler {
    position: absolute;
    right: .2rem;
    top: 1.8rem;
  }

  &__buttons {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--hidden {
    transform: translateX(-75vw);
  }
}