.toggler {
  width: 2.2rem;
  height: 4.5rem;
  border-radius: 150px 0 0 150px;
  cursor: pointer;
  border: none;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;

  &:focus {
    outline: none;
  }

  &__bars {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
  }

  &__bar {
    position: absolute;
    width: 1rem;
    height: .2rem;
    background: $color-white;
    border: 2px solid $color-white;
    right: 0;
    transition: 0.7s cubic-bezier(0.8, 1.61, 0.25, 1);
    border-radius: 2px;

    &--top {
      top: 50%;
      transform: translate(-10%, -170%) rotate(45deg);
    }

    &--bottom {
      bottom: 50%;
      transform: translate(-10%, 170%) rotate(-45deg);
    }
  }

  &--clicked {
    .toggler__bar {
      border-color: $color-white;

      &--top {
        transform: translate(-10%, -170%) rotate(-45deg);
      }

      &--bottom {
        transform: translate(-10%,170%) rotate(45deg);
      }
    }
  }
}

@media screen and (min-width: 768px), (orientation: landscape) {
  .toggler {
    display: none;
  }
}
